.Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
}
h1{
    display: inline;
    margin: 0;
    padding: 0px 10px;
    font-family: 'Poppins',sans-serif;
    justify-items: end;
    color: #fff;
    font-size: 55px;
}
.cardContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ProductContainer{
    width: 300px;
    height: 300px;
    margin: 40px;
    border: 3px solid #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Link{
    text-decoration: none;
    color: #000;
    padding: 0px 8px;
}
.Link:hover{
    cursor: pointer;
    color: #fff;
}
.NameProduct, .PriceProduct{
    overflow-wrap: break-word;
    color: #fff;
    margin: 0;
    padding: 0px 8px;
}
.NameProduct{
    font-size: 25px;
    padding-top: 5px;
}
.PriceProduct{
    font-size: 30px;
}
.actions{
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    padding: 0px 12px;
}
.icons{
    width: 20px;
}
#deleteIcon{
    width: 22px;
}
.icons:hover{
    cursor: pointer;
    filter: invert();
}
.button-icon{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    height: 27px;
    display: flex;
    align-items: start;
}
.button-icon:hover{
    background: none;
    border: none;
}
